<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">

  <h2>Escolha um produto</h2>

  <ion-item>
    <ion-select [(ngModel)]="itemPedidoId" (ionChange)="adicionarItem()">
      <ion-select-option *ngFor="let p of produtos" [value]="p.id">
        {{ p.nome }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <h3 class="ion-margin-top">Itens no pedido</h3>

  <ion-list *ngIf="pedidoSelecionado.length > 0">
    <ion-item *ngFor="let item of pedidoSelecionado">
      <ion-thumbnail slot="start">
        <img [src]="item.foto_path" />
      </ion-thumbnail>

      <ion-label>
        <h4>{{ item.nome }}</h4>
        <p>{{ item.descricao }}</p>
        <p>
          <span [appMoedaMask]="'display'" [valor]="item.valor_unitario"></span> x {{ item.qtd }} =
          <strong [appMoedaMask]="'display'" [valor]="item.valor_unitario * item.qtd"></strong>
        </p>
      </ion-label>

      <div class="qtd-controls">
        <ion-button size="default" (click)="alterarQtd(item, -1)" color="danger">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <span class="qtd">{{ item.qtd }}</span>
        <ion-button size="default" (click)="alterarQtd(item, 1)" color="success">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="pedidoSelecionado.length > 0">
    <ion-card-content>
      <h2>Total do Pedido: <span [appMoedaMask]="'display'" [valor]="calcularTotal()"></span></h2>
    </ion-card-content>
  </ion-card>

  <ion-segment [(ngModel)]="tipoPedido" color="danger">
    <ion-segment-button value="local">
      <ion-label>🍽️ Local</ion-label>
    </ion-segment-button>
    <ion-segment-button value="entrega">
      <ion-label>🚚 Entrega</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-button expand="block" class="ion-margin-top" (click)="confirmarPedido()">
    Pagamento
  </ion-button>

</ion-content>