<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/financeiro"></ion-back-button>
    </ion-buttons>
    <ion-title>Backup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div *ngIf="isDatePickerVisible">
    <ion-item>
      <h1 position="stacked">Data Início</h1>
      <ion-datetime presentation="date" [(ngModel)]="dataInicio"></ion-datetime>
    </ion-item>

    <ion-item>
      <h1 position="stacked">Data Fim</h1>
      <ion-datetime presentation="date" [(ngModel)]="dataFim"></ion-datetime>
    </ion-item>
  </div>

  <ion-button *ngIf="!isDatePickerVisible" expand="block" (click)="toggleDatePicker()">
    Exibir Seletor de Data
  </ion-button>

  <ion-button expand="block" (click)="gerarBackup()">
    Gerar Backup
  </ion-button>

  <ion-item lines="none">
    <ion-label>Compactar (ZIP)</ion-label>
    <ion-checkbox [(ngModel)]="compactarZip"></ion-checkbox>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Compartilhar após salvar</ion-label>
    <ion-checkbox [(ngModel)]="compartilharDepois"></ion-checkbox>
  </ion-item>
</ion-content>