<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger">
    <ion-tab-button tab="estoque" href="/tabs/estoque">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Estoque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pedidos" href="/tabs/pedidos">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>