<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/financeiro"></ion-back-button>
    </ion-buttons>
    <ion-title>Abertura de Caixa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Data</ion-label>
    <ion-input [value]="dataHoje" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor de Abertura</ion-label>
    <ion-input type="number" [(ngModel)]="valorAbertura" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Observações</ion-label>
    <ion-textarea [(ngModel)]="observacoes"></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="success" [disabled]="!valorAbertura || caixaAbertoHoje" (click)="abrirCaixa()">
    Abrir Caixa
  </ion-button>

  <ion-text color="danger" *ngIf="caixaAbertoHoje">
    Caixa já foi aberto hoje.
  </ion-text>
</ion-content>