<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Estoque</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/cadastrar-estoque">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-card *ngIf="mostrarAlerta" color="danger">
    <ion-card-header>
      <ion-card-title>Produtos para Reposição</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let produto of produtosReposicao" color="danger">
          <ion-label>{{ produto.nome }} ({{ produto.quantidade }}/{{ produto.alerta_minimo }})</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="light" (click)="fecharAlerta()">Fechar</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Insumos cadastrados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="list-wrap">
        <ion-list>
          <ion-item *ngFor="let insumo of insumos" [class.estoque-ok]="insumo.quantidade_total > insumo.alerta_minimo"
            [class.necessita-reposicao]="insumo.quantidade_total <= insumo.alerta_minimo">
            <ion-thumbnail slot="start" class="produto-thumbnail">
              <img [src]="insumo.foto_path" />
            </ion-thumbnail>
            <div class="produto-info">
              <h2 class="produto-nome">{{ insumo.nome }}</h2>
            </div>
            <div class="produto-valor-container">
              <h2 class="produto-quantidade">{{ insumo.quantidade_total }}</h2>
            </div>
            <div class="row-action">
              <ion-button color="danger" fill="clear" size="small" (click)="remover(insumo.id)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="insumos.length === 0" class="ion-text-center ion-margin-top">
        Nenhum produto encontrado
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>