<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Estoque</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cadastrar-estoque">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Insumos cadastrados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col size="6"><strong>Nome</strong></ion-col>
          <ion-col size="4"><strong>Qtd</strong></ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>

        <ion-row *ngFor="let insumo of insumos" [class.alerta]="insumo.quantidade <= (insumo.quantidade / 2)">
          <ion-col size="6">{{ insumo.nome }}</ion-col>
          <ion-col size="4">{{ insumo.quantidade }}</ion-col>
          <ion-col size="2">
            <ion-button color="danger" fill="clear" size="small" (click)="remover(insumo.id)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>