<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="produto.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input [(ngModel)]="produto.descricao"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor de Venda</ion-label>
    <ion-input placeholder="R$ 0,00" inputmode="decimal" appMoedaMask type="text"
      [(ngModel)]="produto.valor_unitario"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="salvar()" class="add-btn">Salvar</ion-button>

  <div style="max-height: 300px; overflow-y: auto; margin-top: 16px;">
    <ion-list>
      <ion-item *ngFor="let produto of produtos" (click)="abrirModalEdicao(produto)">
        <ion-thumbnail slot="start" class="produto-thumbnail">
          <img [src]="produto.foto_path" />
        </ion-thumbnail>
        <div class="produto-info">
          <h2 class="produto-nome">{{ produto.nome }}</h2>
        </div>
        <div class="produto-valor-container">
          <h2 [appMoedaMask]="'display'" [valor]="produto.valor_unitario"></h2>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="produtos.length === 0" class="ion-text-center ion-margin-top">
    Nenhum produto encontrado
  </div>
</ion-content>