<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/financeiro"></ion-back-button>
    </ion-buttons>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div *ngIf="isDatePickerVisible">
    <ion-item>
      <h1 position="stacked">Data Início</h1>
      <ion-datetime [(ngModel)]="dataInicio" presentation="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <h1 position="stacked">Data Fim</h1>
      <ion-datetime [(ngModel)]="dataFim" presentation="date"></ion-datetime>
    </ion-item>
  </div>

  <ion-button *ngIf="!isDatePickerVisible" expand="block" (click)="toggleDatePicker()">Exibir Seletor de
    Data</ion-button>
  <ion-button expand="block" (click)="gerarRelatorio()">Gerar Relatório</ion-button>

  <ng-container *ngIf="relatorio">
    <ion-card>
      <ion-card-header><ion-card-title>Totais</ion-card-title></ion-card-header>
      <ion-card-content>
        <p>
          <strong>Geral:</strong>
          <span class="total-value" appMoedaMask="display" [valor]="relatorio.totalGeral"></span>
        </p>
        <p><strong>Dinheiro:</strong>
          <span class="total-value" appMoedaMask="display" [valor]="relatorio.porForma.dinheiro"></span>
        </p>
        <p><strong>Pix:</strong>
          <span class="total-value" appMoedaMask="display" [valor]="relatorio.porForma.pix"></span>
        </p>
        <p><strong>Débito:</strong>
          <span class="total-value" appMoedaMask="display" [valor]="relatorio.porForma.debito"></span>
        </p>
        <p><strong>Crédito:</strong>
          <span class="total-value" appMoedaMask="display" [valor]="relatorio.porForma.credito"></span>
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header><ion-card-title>Por Tipo de Pedido</ion-card-title></ion-card-header>
      <ion-card-content>
        <p><strong>Na mesa:</strong> <span appMoedaMask="display" [valor]="relatorio.porTipo.local"></span> </p>
        <p><strong>Entregar:</strong> <span appMoedaMask="display" [valor]="relatorio.porTipo.entrega"></span></p>
        <p><strong>Retirar:</strong> <span appMoedaMask="display" [valor]="relatorio.porForma.levar"></span></p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header><ion-card-title>Gastos</ion-card-title></ion-card-header>
      <ion-card-content>
        <p>
          <strong>Total Gastos com Estoque:</strong>
          <span class="total-value" appMoedaMask="display" [valor]="relatorio.totalGastosEstoque"></span>
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="sangrias.length > 0">
      <ion-card-header><ion-card-title>Sangrias</ion-card-title></ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let s of sangrias">
          <ion-label>
            {{ s.data | date:'shortDate' }} - {{ s.motivo }}
          </ion-label>
          <ion-note slot="end">
            <span appMoedaMask="display" [valor]="s.valor"></span>
          </ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="gastosEstoque.length > 0">
      <ion-card-header><ion-card-title>Compras de Estoque</ion-card-title></ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let gasto of gastosEstoque">
          <ion-label>
            {{ gasto.produto_nome }} - Qtd: {{ gasto.quantidade }}
          </ion-label>
          <ion-note slot="end">
            <span appMoedaMask="display" [valor]="gasto.valor_pago"></span>
          </ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>