<ion-header>
  <ion-toolbar color="danger">
    <ion-title class="title">Buteco 23</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="menu-grid">
    <ion-button expand="block" routerLink="/tabs/pedidos">
      <ion-icon name="restaurant-outline" slot="start"></ion-icon>
      Pedidos
    </ion-button>

    <ion-button expand="block" routerLink="/tabs/estoque">
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      Estoque
    </ion-button>

    <ion-button expand="block" routerLink="/tabs/cadastrar-produto">
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      Produtos
    </ion-button>

    <ion-button expand="block" routerLink="/tabs/listar-clientes">
      <ion-icon name="restaurant-outline" slot="start"></ion-icon>
      Clientes
    </ion-button>

    <ion-button expand="block" routerLink="/tabs/financeiro">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      Caixa
    </ion-button>
  </div>
</ion-content>