<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">

  <ion-button expand="block" routerLink="/tabs/novo-pedido" class="add-btn">
    <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    Novo Pedido
  </ion-button>

  <ion-segment [(ngModel)]="statusFiltro" (ionChange)="onSegmentChange()" class="solution-segment ion-margin-top"
    value="em_andamento" color="danger">
    <ion-segment-button value="em_andamento">
      <ion-label>Em Andamento</ion-label>
    </ion-segment-button>
    <ion-segment-button value="na_conta">
      <ion-label>Na Conta</ion-label>
    </ion-segment-button>
    <ion-segment-button value="finalizado">
      <ion-label>Finalizados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list class="ion-margin-top">
    <ion-item *ngFor="let pedido of pedidosFiltrados" [routerLink]="['/tabs/finalizar-pedido']"
      [state]="{ pedido: pedido }">

      <ion-label>
        <h3>{{ pedido.tipo | titlecase }} • {{ pedido.data | date:'short' }}</h3>
        <p>Total: R$ <span appMoedaMask="display">{{ pedido.total }}</span></p>
        <p *ngIf="pedido.status === 'na_conta'">Cliente ID: {{ pedido.cliente_id }}</p>
      </ion-label>

      <ion-badge slot="end" [color]="getStatusColor(pedido.status)">
        {{ getStatusText(pedido.status) }}
      </ion-badge>
    </ion-item>
  </ion-list>

</ion-content>